html,
body,
#root {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(225deg, #53daff 0%, #cbf4ff 100%);
}

canvas {
    touch-action: none;
}